.todo-preview {
    text-align: center;
    padding: 0.3em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.todo-preview h4 {
    text-transform: capitalize;
    color: black;
}

.todo-preview img {
    max-width: 100px;
}